@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Herr+Von+Muellerhoff&family=League+Gothic:wdth@75..100&family=Meie+Script&family=Passion+One:wght@400;700;900&family=Squada+One&display=swap');
@import url("https://use.typekit.net/ufc4ccd.css");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Herr+Von+Muellerhoff&family=League+Gothic:wdth@75..100&family=Meie+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Squada+One&display=swap');
/*

Fonts in use:
1. Anton [title]
2. Archivo Black
3. Herr Von Muellerhoff
4. League Gothic
5. Meie Script [in consideration for accent font]
6. Passion One
7. Squada One
8. Montserrat
typekit
9. Yaldevi
*/

body {
    font-family: 'Playfair Display', serif;
    font-family: "Cormorant Garamond", serif;  
    font-family: "League Gothic", sans-serif; 
    font-family: "Pathway Gothic One", sans-serif;
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

  /*MAYBE: make accent font*/
  .herr-von-muellerhoff-regular {
    font-family: "Herr Von Muellerhoff", cursive;
    font-weight: 400;
    font-style: normal;
  }

/*<uniquifier>: Use a unique and descriptive class name*/
/* <width>: Use a value from 75 to 100*/

.league-gothic-uniquifier {
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
  /*MAYBE: make accent font*/
  .meie-script-regular {
    font-family: "Meie Script", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .passion-one-regular {
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .passion-one-bold {
    font-family: "Passion One", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  /*NOT TRIED*/
  .passion-one-black {
    font-family: "Passion One", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  

  .squada-one-regular {
    font-family: "Squada One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  /*<uniquifier>: Use a unique and descriptive class name
    <weight>: Use a value from 100 to 900
  */

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.hover-italic {
    text-decoration: none;
    color: #404050;
    transition: all 0.2 ease;
  }

  .hover-italic-underline {
    text-decoration: none;  /* Remove any default underline or decoration */
    color: #606070;       /* Set initial text color */
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for color change */
    position: relative;     /* Establish a positioning context for the pseudo-element */
    font-weight: 500;       /* Set font weight */
}

.hover-italic-underline:hover {
    font-style: normal; /* change to italic if needed */ /* Apply italic style on hover */
    color: #303040;   /* Change text color on hover */
}

.hover-italic-underline::after {
    content: '';                  /* Create an empty pseudo-element */
    position: absolute;           /* Position the pseudo-element absolutely */
    width: 0;                     /* Start with zero width */
    height: 2px;                  /* Set the height of the underline */
    bottom: -4px;                 /* Position it slightly below the text */
    left: 0;                      /* Align it to the left edge of the text */
    background-color: #303040;  /* Set the color of the underline */
    transition: width 0.3s ease;  /* Smooth transition for width change */
}

.hover-italic-underline:hover::after {
    width: 100%;                  /* Expand the underline to full width on hover */
  }

.hover-italic:hover {
  font-style: italic;
  color: #303040;
}

  .hover-italic-underline svg {
    text-decoration: none;
    background: none;
}
  .yaldevi-extra-light {
    font-family: "yaldevi", sans-serif;
    font-weight: 200;
    font-style: normal;
  }

  .yaldevi-light {
    font-family: "yaldevi", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .yaldevi-regular {
    font-family: "yaldevi", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .inria-serif-light {
    font-family: "inria-serif", serif;
    font-weight: 300;
    font-style: normal;
  }

  .inria-serif-light-italic {
    font-family: "inria-serif", serif;
    font-weight: 300;
    font-style: italic;
  }

  .inria-serif-regular {
    font-family: "inria-serif", serif;
    font-weight: 400;
    font-style: normal;
  }

  .inria-serif-italic {
    font-family: "inria-serif", serif;
    font-weight: 400;
    font-style: italic;
  }

  .inria-serif-bold {
    font-family: "inria-serif", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .inria-serif-bold-italic {
    font-family: "inria-serif", serif;
    font-weight: 700;
    font-style: italic;
  } 

  .libre-bodoni-regular {
    font-family: "libre-bodoni", serif;
    font-weight: 400;
    font-style: normal;
  }

  .libre-bodoni-italic {
    font-family: "libre-bodoni", serif;
    font-weight: 400;
    font-style: italic;
  }

  .libre-bodoni-bold {
    font-family: "libre-bodoni", serif;
    font-weight: 700;
    font-style: normal;
  }

  .libre-bodoni-bold-italic {
    font-family: "libre-bodoni", serif;
    font-weight: 700;
    font-style: italic;
  }

  .instrument-serif {
    font-family: "instrument-serif", serif;
font-weight: 600;
font-style: normal;
  }


  .waters-titling-pro-condensed {
    font-family: "waters-titling-condensedpro", serif;
    font-weight: 400;
    font-style: normal;
  }

  .waters-titling-pro-bold-condensed {
    font-family: "waters-titling-condensedpro", serif;
    font-weight: 700;
    font-style: normal;
  }

  .waters-titling-pro-semicondensed {
    font-family: "waters-titling-semicondensed", serif;
    font-weight: 400;
    font-style: normal;
  }

  .waters-titling-pro-bold-semicondensed {
    font-family: "waters-titling-semicondensed", serif;
    font-weight: 700;
    font-style: normal;
  }

@keyframes moveBackground {
    0% { background-size: 100% 100%; }
    10% { background-size: 120% 80%; }
    20% { background-size: 190% 140%; }
    30% { background-size: 130% 110%; }
    40% { background-size: 150% 120%; }
    50% { background-size: 180% 100%; }
    60% { background-size: 220% 80%; }
    70% { background-size: 100% 50%; }
    80% { background-size: 120% 70%; }
    90% { background-size: 110% 90%; }
    100% { background-size: 100% 100%; }
}

/* Keyframe animation for background fade-in */
@keyframes fadeInBackground {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Keyframe animation for text fade-in */
@keyframes fadeInText {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply the background fade-in animation */
.background-animation {
    animation: fadeInBackground 2s ease-in-out;
}

/* Apply the text fade-in animation */
.text-animation {
    animation: fadeInText 1.5s ease-in-out;
}

@media (max-width: 768px) {
  /* Adjust font sizes and padding for smaller screens */
  .contact-link {
      font-size: 1.2rem;
  }
}

.button-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.button-wrapper .copy-button {
  background: none;
  border: none;
  color: #606070;
  cursor: pointer;
  font-size: clamp(1.3rem, 2.5vw, 2rem);
  display: flex;
  align-items: center;
  min-width: 120px;
  justify-content: center;
  text-align: center;
  transition: visibility 0.3s ease; /* Smooth transition */
}

.button-wrapper .copy-button.hidden {
  visibility: hidden; /* Hide the button but maintain space */
}

